.my-nav{
    position:fixed;
}

.main_content{
}
.main_card{
    min-height: 340px;
    color:#000000;
    font-size:14px;
    line-height:20.02px;
    position:fixed;
    width: 300px;
    margin-top: 120px;
    border: 1px solid black;
}

.main_status{
    color:#000000;
    min-height: 175px;
    font-size:14px;
    line-height:20.02px;
    background-color: #ffffff;
    border: 1px solid black;
    margin-top: 120px;
    margin-bottom: 16px;
}

.main_info_tour{
    min-height: 900px;
    padding: 16px 16px 8px;
    background-color: #ffffff;
    border: 1px solid black;
}

/* CỘT 3 */
.column3{
    overflow-y : auto;
}
.main_img{
    margin-top: 120px;
    min-height: 300px;
    border: 1px solid black ;
}
.main_voucher{
    margin-top: 16px;
    min-height: 256px;
    border: 1px solid black ;
}
.main_brand{
    margin-top: 16px;
    min-height: 140px;
    border: 1px solid black ;
}
.main_end{
    margin-top: 16px;
    min-height: 160px;
    border: 1px solid black ;
}
